@import '/src/styles/mixins.scss', '/src/styles/variables.scss';

.bookList {
  margin-bottom: $indent-block;

  &__container {
    display: grid;
    justify-items: center;
    align-items: center;

    padding: $indent-block;

    h2 {
      @include medium;

      color: $white;
    }
  }

  &__list {
    justify-self: stretch;
  }

  &__names {
    @include columns;

    padding-bottom: 10px;

    div {
      font-size: 22px;
      font-weight: 600;
      color: $white;
    }
  }

  &__fallback {
    text-align: center;
  }
}

// ----------------------------

@media (width < 992px) {
  .bookList {
    &__container {
      padding: $indent-block 10px;
    }

    &__names {
      display: none;
    }
  }
}

@media (min-width: 1440px) {
  .bookList__score {
    text-align: center;
  }
}
