@import '/src/styles/variables.scss';

.bookCard {
  display: grid;
  align-items: center;
  align-self: center;
  align-content: center;

  &__block {
    position: relative;

    padding: 10px;
    margin-bottom: 10px;
    border-radius: $border-r;
    border: 1px solid #2c2b2e;

    background: #2c2b2e;
  }

  &__booksInfo {
    display: grid;
    grid-gap: 10px;
    align-items: center;
    align-self: center;
    align-content: center;

    padding: 0 20px;

    text-align: center;
    color: $white;
  }

  &__score {
    text-align: center;
  }

  &__titleBlock {
    display: block;
    grid-template-columns: 0.1fr 1fr;
  }

  &__counter {
    padding-right: 10px;
  }
}

// --------------------------

@media (max-width: 320px) {
  .bookCard__score {
    margin-right: $indent-block;
  }
}
