$border-r: 8px;
$btn-transition: all 0.3s ease-out;

$orange: #d57d67;
$yellow: #f9f871;
$gradient: linear-gradient(to right, $orange, $yellow);
$gradient-reverse: linear-gradient(to right, $yellow, $orange);

$white: #f5f5ee;
$grey: #9b9b9b;

$bg: #27272c;
$block: #1e1c22;
$block-grey: #4a474e;

$indent-block: 35px;
$input-bottom: 30px;
